<!DOCTYPE html>
<html>
  <head>
    <title>YouTube to Spotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- todo make this a navbar, and include login links -->
    <h2>YouTube Playlist URL</h2>
