<!DOCTYPE html>
<html>
  <head>
    <title>YouTube to Spotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/css/main.css"
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- TODO modify this based on login status -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">YouTube to Spotify</a>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="youtube-login-button" class="btn btn-default">YouTube Login</a>
            </li>
            <li>
              <% if (this.spotify_authorization_url) { %>
                <a id="spotify-login-button" href="<%= spotify_authorization_url %>" class="btn btn-default">Spotify Login</a>
              <% } else { %>
                Logged in!
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="text-center">YouTube Playlist URL</h2>
