<!DOCTYPE html>
<html>
  <head>
    <title>YouTube to Spotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
