<% include header %>
<div class="container">
  <form id="playlist-url-form">
    <div class="form-group">
      <label for="playlist-url-input">YouTube Playlist URL</label>
      <input type="text" id="playlist-url-input" class="form-control" placeholder="Enter URL" required>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Button</button>
      <i id="playlist-url-spinner" class="zmdi zmdi-spinner zmdi-hc-spin hidden"></i>
    </div>
  </form>
  <div id="playlist-list-container"></div>

</div>

<script id="playlist-list-template" type="text/x-handlebars-template">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>YouTube</th>
        <th>Spotify</th>
      </tr>
    </thead>
    <tbody>
      {{#.}}
        <tr>
          {{> playlist-list-item}}
        </tr>
      {{else}}
         <tr class="list-group-item">Nothing</tr>
      {{/.}}
  </tbody>
  </table>
</script>

<script id="playlist-list-item-template" type="text/x-handlebars-template">
  <tr class="{{rowStatusCss spotify.length}}">
    <td>
      <a href={{idToYoutubeLink youtube.id}}>{{youtube.name}}</a>
    </td>
    <td>
      <ul>
        {{#each spotify}}
          <li>
            <a href={{previewUrl}}>{{name}}</a>
          </li>
        {{/each}}
      </ul>
    </td>
  </tr>
</script>


<script src="/bower_components/handlebars/handlebars.min.js"></script>
<script src="/js/controller.js"></script>


<% include footer %>
